@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 20%;
		--card: 0 0% 100%;
		--card-foreground: 0 0% 20%;
		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 20%;
		--primary: 217.22 91.22% 59.8%;
		--primary-foreground: 0 0% 100%;
		--secondary: 220 14.29% 95.88%;
		--secondary-foreground: 215 13.79% 34.12%;
		--muted: 210 20% 98.04%;
		--muted-foreground: 220 8.94% 46.08%;
		--accent: 204 93.75% 93.73%;
		--accent-foreground: 224.44 64.29% 32.94%;
		--destructive: 0 84.24% 60.2%;
		--destructive-foreground: 0 0% 100%;
		--border: 220 13.04% 90.98%;
		--input: 220 13.04% 90.98%;
		--ring: 217.22 91.22% 59.8%;
		--chart-1: 217.22 91.22% 59.8%;
		--chart-2: 221.21 83.19% 53.33%;
		--chart-3: 224.28 76.33% 48.04%;
		--chart-4: 225.93 70.73% 40.2%;
		--chart-5: 224.44 64.29% 32.94%;
		--sidebar: 210 20% 98.04%;
		--sidebar-foreground: 0 0% 20%;
		--sidebar-primary: 217.22 91.22% 59.8%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 204 93.75% 93.73%;
		--sidebar-accent-foreground: 224.44 64.29% 32.94%;
		--sidebar-border: 220 13.04% 90.98%;
		--sidebar-ring: 217.22 91.22% 59.8%;
		--font-sans: Inter, sans-serif;
		--font-serif: Source Serif 4, serif;
		--font-mono: JetBrains Mono, monospace;
		--radius: 0.375rem;
		--shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
		--shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
		--shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
		--shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
		--shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
		--shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
		--shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
		--shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
	}

	.dark {
		--background: 0 0% 9.02%;
		--foreground: 0 0% 89.8%;
		--card: 0 0% 14.9%;
		--card-foreground: 0 0% 89.8%;
		--popover: 0 0% 14.9%;
		--popover-foreground: 0 0% 89.8%;
		--primary: 217.22 91.22% 59.8%;
		--primary-foreground: 0 0% 100%;
		--secondary: 0 0% 14.9%;
		--secondary-foreground: 0 0% 89.8%;
		--muted: 0 0% 14.9%;
		--muted-foreground: 0 0% 63.92%;
		--accent: 224.44 64.29% 32.94%;
		--accent-foreground: 213.33 96.92% 87.25%;
		--destructive: 0 84.24% 60.2%;
		--destructive-foreground: 0 0% 100%;
		--border: 0 0% 25.1%;
		--input: 0 0% 25.1%;
		--ring: 217.22 91.22% 59.8%;
		--chart-1: 213.12 93.9% 67.84%;
		--chart-2: 217.22 91.22% 59.8%;
		--chart-3: 221.21 83.19% 53.33%;
		--chart-4: 224.28 76.33% 48.04%;
		--chart-5: 225.93 70.73% 40.2%;
		--sidebar: 0 0% 9.02%;
		--sidebar-foreground: 0 0% 89.8%;
		--sidebar-primary: 217.22 91.22% 59.8%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 224.44 64.29% 32.94%;
		--sidebar-accent-foreground: 213.33 96.92% 87.25%;
		--sidebar-border: 0 0% 25.1%;
		--sidebar-ring: 217.22 91.22% 59.8%;
		--font-sans: Inter, sans-serif;
		--font-serif: Source Serif 4, serif;
		--font-mono: JetBrains Mono, monospace;
		--radius: 0.375rem;
		--shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
		--shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
		--shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
		--shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
		--shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
		--shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
		--shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
		--shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
		font-feature-settings: 'rlig' 1, 'calt' 1;
	}
}

/* 重置样式 */
#scroll-area-viewport {
	display: block !important;
}

blockquote {
	border-left: 4px solid #ccc;
	padding-left: 16px;
	color: #555;
	font-style: italic;
}
